:root{
  --text: #100c12;
  --background: #f5f2f7;
  --primary: #503c5d;
  --secondary: #bf9cac;
  --accent: #955f60;
}

@media (prefers-color-scheme : dark) {
  :root{
    --text: #f1edf3;
    --background: #0b080d;
    --primary: #b6a2c3;
    --secondary: #634050;
    --accent: #9f6a6b;
  }
}